.card-hand {
  display: flex;
  justify-content: center;
}

.card-hand.my-hand .cards-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}
